.col {
    text-align: center;
}
h1{
    color: #000000;
}

.galeria {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria .card {
    background-color: #333;
    color: #fff;
    width: calc(33.33% - 5px);
    margin-bottom: 5px;
    box-sizing: border-box;
    border-color: #1f1e1e;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.galeria .card  img {
    width: 80%;
    border-radius: 8px;
    background-color: #000000;
}

.card-body {
    padding: 10px;
    background-color: #474747;
    border-radius: 6px;
}
.card-text{
    color: #000000;
    font-weight:100;
}

.card-img-top {
    margin: auto;
    display: block;
}