.col {
    text-align: center;
}

h1 {
    color: #000000;
}

.galeria {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria .card {
    background-color: rgb(44, 44, 44);
    color: #fff;
    width: calc(33.33% - 5px);
    margin-bottom: 5px;
    /*box-sizing: border-box;*/
    /*border-color: #1f1e1e;*/
    border-radius: 8px;
    padding: 5px;
    /*overflow: hidden;*
    /* Para que las esquinas redondeadas se apliquen correctamente */
    position: relative;
    /*box-shadow: 0 4px 8px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease;
    /* Transición suave para el efecto de sombra */
}

.galeria .card img {
    width: 80%;
    border-radius: 8px;
    transition: transform 0.3s ease;
    /* Transición suave para el efecto de escala */
}

.galeria .card:hover img {
    transform: scale(1.1);
    /* Efecto de escala al pasar el ratón */
}

.card-body {
    padding: 10px;
    background-color: rgb(44, 44, 44);
    border-radius: 6px;
}

.card-text {
    color: #000000;
    font-weight: 100;
}

.card-img-top {
    margin: auto;
    display: block;
}


/* Agrega estilos para el modal */

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 60%;
    max-height: fit-content;
}

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#caption {
    text-align: center;
    color: #fff;
    margin-top: 10px;
}