@font-face {
    font-family: "Sukhumvit Set";
    src: url("fonts/sukhumvitset-thin.ttf") format("truetype");
}
body {
    font-family: "Sukhumvit Set", sans-serif;
    background-color: rgb(44, 44, 44);
}
main {
    font-family: "Sukhumvit Set", sans-serif;
    color: black;
    background-color:rgb(44, 44, 44); /* Cambia el color según tus preferencias */
    padding: 20px; /* Agrega un espacio interno de 20 píxeles alrededor del contenido. */
}


#tituloGaleria {
    color: hsl(34, 62%, 36%);
    font-size: 2.0rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio entre el título y la galería */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra negra */
}

div {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente si es necesario */
    width: 100%; /* Ocupa todo el ancho disponible */
}


#portada {
    max-width:100%; /* La imagen no excederá el ancho del contenedor */
    max-height: 100vh;   /* La imagen no excederá el ancho del contenedor */    
    height: auto; /* Mantiene las proporciones de la imagen */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    object-fit: contain; /* Mantiene la proporción de la imagen */
}





