
body {
    background-color: black;
}
main {
    background-color:black; /* Cambia el color según tus preferencias */
    padding: 20px; /* Ajusta el relleno según tus necesidades */
}

p {
    color: gray;
}

.custom-navbar {
    background-color: black; /* Cambia esto al color que desees */
}

.custom-text-border:hover {
    color: hsl(16, 100%, 50%); /* Cambia esto al color que desees al pasar el puntero */
}


.custom-text-border:active,
.custom-text-border:focus {
    color: gray;
}

/* Clase personalizada para agregar un borde externo al texto en la barra de navegación */
.custom-text-border {
    /* Agrega un borde externo utilizando text-stroke */
    -webkit-text-stroke: 1px hsl(16, 100%, 50%); /* Safari/Chrome */

    /* Establece el color del texto */
    color: darkgray; /* Cambia esto al color que desees para el texto */
    /* Cambia el tipo de letra (fuente) */
    font-family:'Arial', Helvetica, sans-serif; /* Cambia 'Arial' a la fuente que desees */
    font-weight: bold;
    font-size: medium;
}

.custom-text-border-menu{
    -webkit-text-stroke: 1px black; /* Safari/Chrome */
}


/* Clase personalizada para cambiar el color de fondo del menú desplegable */
.dropdown-menu {
    background-color: gray; /* Cambia esto al color que desees para el fondo del menú */
}
.dropdown-menu ::selection {
    background-color: gray; /* Cambia esto al color que desees para la selección del texto */
    color: darkgrey; /* Cambia esto al color que desees para el texto seleccionado */
}


.dropdown-menu .custom-text-border {
    /* Agrega un borde externo utilizando text-stroke */
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Safari/Chrome */

    /* Establece el color del texto */
    color: hsl(16, 100%, 50%); /* Cambia esto al color que desees para el texto */
    /* Cambia el tipo de letra (fuente) */
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' a la fuente que desees */
    font-weight: bold;
    font-size: medium;
}
