
body {
    font-family: "Sukhumvit Set", sans-serif;
    background-color: rgb(44, 44, 44);
}
main {
    font-family: "Sukhumvit Set", sans-serif;
    color: black;
    background-color:rgb(44, 44, 44); /* Cambia el color según tus preferencias */
    padding: 20px; /* Ajusta el relleno según tus necesidades */
}

.navbar {
    height: 100px; /* Ajusta la altura según tus necesidades */
}

.custom-navbar {
    background-color:rgb(44, 44, 44); /* Cambia esto al color que desees */
}
.custom-bg {
    background-color:gray; /* Cambia esto al color que desees */
    color: hsl(16, 100%, 50%);
    border: 2px solid red; /* Cambia esto al color que desees para las líneas */
}
.custom-toggler-icon {
    color: red; /* Cambia esto al color que desees para las líneas del icono */
}

.custom-text:hover {
    color: gray; /* Cambia esto al color que desees al pasar el puntero */
}

.custom-text {
    color: hsl(16, 100%, 50%);
    font-size:large;
}

.custom-text:active,
.custom-text:focus {
    color: gray;
}



/* Clase personalizada para cambiar el color de fondo del menú desplegable */
.dropdown-menu {
    background-color: gray; /* Cambia esto al color que desees para el fondo del menú */
}
.dropdown-menu ::selection {
    background-color: gray; /* Cambia esto al color que desees para la selección del texto */
    color: darkgrey; /* Cambia esto al color que desees para el texto seleccionado */
}


.dropdown-menu .custom-text {
    /* Establece el color del texto */
    color: black; /* Cambia esto al color que desees para el texto */
    /* Cambia el tipo de letra (fuente) */
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' a la fuente que desees */
    font-size: medium;
}
