{% extends 'layout_galeria.html' %}
{% block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/galeria_2.css') }}">
{%endblock%}

{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <H1>Galeria 2</H1>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-10">
            <div class="galeria">
                {% for imagen in imagenes %}
                <div class="card" onclick="abrirModal('{{ url_for('static', filename ='images/galeria2/' + imagen) }}','{{ imagen }}')">
                    <img src="{{ url_for('static', filename='images/galeria2/' + imagen) }}" alt="{{ imagen }}" class="card-img-top" >
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal">
    <span class="close" onclick="cerrarModal()">&times;</span>
    <img  id="imgModal" src="" alt="Imagen ampliada">
    <div id="caption"></div>
</div>
<script>
    function abrirModal(url, nombre) {
        var modal = document.getElementById('myModal');
        var img = document.getElementById('imgModal');
        var captionText = document.getElementById('caption');

        modal.style.display = 'block';
        img.src = url;
        captionText.innerHTML = nombre;
    }

    function cerrarModal() {
        document.getElementById('myModal').style.display = 'none';
    }
</script>
{%endblock%}