<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTPHOTO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/layout.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand custom-text-border" href="#">BT Photo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link custom-text-border" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-text-border" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-text-border" href="#">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  custom-text-border" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item custom-text-border" href="#">Action</a></li>
                                <li><a class="dropdown-item custom-text-border" href="#">Another action</a></li>
                                <li><a class="dropdown-item custom-text-border" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nobis recusandae ab exercitationem est
            accusamus qui eaque, ea tenetur repellendus nisi velit voluptas harum laboriosam itaque, distinctio
            blanditiis? Sapiente facilis porro reprehenderit quisquam aperiam perspiciatis modi qui corporis voluptatum
            soluta iusto ad, sequi odio numquam quibusdam, molestias aspernatur inventore beatae rerum ipsa illum! Non
            veniam pariatur aspernatur cum laborum eaque iure, ipsa quasi vero suscipit ducimus qui enim deleniti
            quisquam eligendi dolore fugiat consectetur quia modi. Rem porro, illo fuga autem quasi, omnis fugiat eius
            perspiciatis facere maiores assumenda doloremque id molestias nihil dolorem ratione eos! Molestias
            praesentium autem, consequuntur ducimus at dignissimos libero aliquam assumenda, minus quos perferendis ea
            debitis deserunt itaque molestiae expedita tenetur sint. Eveniet aliquid saepe deleniti doloremque ratione
            laborum cumque impedit deserunt soluta atque perferendis nam quas voluptatum dolore illo quibusdam est,
            maiores voluptatem praesentium minus consectetur doloribus incidunt. Architecto natus tempora sit mollitia
            repudiandae dolor. Vel voluptas non distinctio quaerat autem, magnam obcaecati rem tempore ratione ea nobis
            ab soluta quae necessitatibus eveniet est aliquam commodi animi a! Odit sapiente error quam dolore alias
            possimus quis maiores sit. Facilis quo, quod similique expedita suscipit at sed sint pariatur enim. Illo
            quam facere distinctio magni dicta cumque laudantium facilis quis consectetur optio, eum nemo animi rem
            tempore adipisci eligendi! Ea, maxime ratione? Sapiente non dolores officiis vel odit, repellendus numquam
            nobis autem. Tenetur magni aliquam placeat eos ea dolores quod facilis dolor modi vel fugiat dolorum, totam
            quisquam temporibus dignissimos possimus fuga illum maxime distinctio rerum corrupti porro aut quasi?
            Veritatis accusantium voluptate aliquid, nihil similique repellat facilis dolores, blanditiis tempora iusto
            ipsum, impedit temporibus! Veniam ducimus distinctio illo, quisquam quia necessitatibus doloremque earum
            maxime commodi eligendi eius incidunt consequatur fuga labore sapiente molestias explicabo perspiciatis
            optio sit nemo quaerat est accusantium voluptatem illum. Repudiandae corporis, modi dicta maxime
            consequuntur quaerat. Qui, vero cumque blanditiis esse impedit ea iusto obcaecati fugit voluptate itaque
            libero nisi exercitationem numquam vel consectetur ad placeat aut autem quae quibusdam distinctio quidem
            consequuntur eos veniam! Quidem labore quibusdam, rem qui quo earum unde, corrupti dolores ad natus
            delectus, quae quia nihil velit assumenda temporibus vero. Earum enim nihil officia in voluptate veniam
            debitis voluptates iusto, sunt error nesciunt maiores eos, dignissimos maxime atque culpa. In eligendi
            facere nam soluta fugiat quam explicabo quo corporis quas tenetur molestias corrupti commodi laudantium
            ducimus veritatis cum est voluptatibus fuga autem, incidunt quidem. Enim, perferendis. Doloremque, autem,
            nesciunt eaque voluptatibus cupiditate omnis, reprehenderit odit est expedita in eius amet quidem maxime
            aliquam. Nostrum nemo est possimus non eius aut illo, accusamus vel temporibus dolor, deleniti delectus
            repellendus tempora praesentium! Quasi distinctio voluptatum voluptates repellendus itaque molestiae soluta,
            minima quisquam corporis ea nihil commodi quibusdam dignissimos voluptas porro dolorem obcaecati repudiandae
            natus dolores numquam. Quis quidem dignissimos distinctio ullam, debitis deserunt eos quos vero, ea tenetur,
            similique non. Dicta, quas dolorem. Eaque maxime totam ullam nesciunt quod ipsum rem architecto, eum aut
            explicabo suscipit expedita tempore asperiores unde labore, iusto quos assumenda odio facere veritatis nisi
            ab. Accusamus quis voluptatum dolorum laudantium harum. Laborum assumenda molestiae fuga a minima
            praesentium perferendis, nulla, id voluptatem dolore ipsum soluta itaque architecto fugiat deleniti dolorem
            numquam quos aspernatur eum distinctio, ipsa inventore nemo! Porro sapiente, cumque quae praesentium nihil
            vero atque. Rerum odit enim nostrum quis adipisci corporis! Eligendi, cumque! Quidem iste quis
            necessitatibus consequuntur eveniet dolore incidunt doloremque veniam, ratione voluptatem labore ipsum
            consequatur cumque est eos impedit. Vero sapiente repudiandae, laudantium quibusdam eligendi excepturi.
            Odio, voluptas et obcaecati nobis cupiditate laudantium reiciendis ullam inventore illum iusto quo placeat
            optio ad, quae quidem nulla error dolor deleniti! Quasi aperiam molestiae ex neque nam quis distinctio vero,
            velit doloremque tempora sed dolore dicta. Obcaecati, perferendis quos dolorem suscipit excepturi numquam
            provident dignissimos quidem, expedita autem consequatur repellendus consequuntur dolores. Laudantium
            reprehenderit autem dolorum excepturi asperiores adipisci, amet animi! Quo enim repellat nesciunt impedit
            quas odit eos, accusantium ut est exercitationem molestias reiciendis iure laborum aspernatur unde ex,
            dolore pariatur. Dolore praesentium quas non. Maxime officia, repellendus, ab quibusdam voluptatem iusto
            praesentium quod accusamus laborum atque impedit optio enim veniam odit ad ratione. Possimus porro hic a
            minima molestias quod, dolorum illo distinctio libero quidem quae ullam voluptas sed quos! Excepturi,
            tenetur! Quae illo voluptate minima inventore. Architecto dolores illo expedita facilis asperiores minus,
            perspiciatis reprehenderit esse officia culpa odio voluptate quos molestiae eos corporis doloribus
            explicabo? Iusto nemo at placeat recusandae id esse ullam, officiis ea, quia ut dolorem earum ad minima
            repellendus, commodi reiciendis harum asperiores odit eius velit dolor! Odio, architecto eveniet ducimus
            obcaecati doloremque officiis nemo impedit aperiam deserunt in aut assumenda maiores porro consequuntur ipsa
            vero? Recusandae at, tenetur odit est, dignissimos soluta aliquid eligendi perferendis excepturi enim
            sapiente illum eaque cupiditate quaerat molestiae alias tempore facilis ad magnam autem maiores officiis
            commodi! Quis ea ipsam laudantium perferendis esse doloremque deserunt modi numquam perspiciatis iure
            consectetur ut dicta reprehenderit fugiat doloribus a voluptate illo, nulla facere at. Sunt doloribus sequi
            fugit, eaque quaerat molestias quia repellendus ipsam corporis tempore cum praesentium optio delectus odit
            laudantium dicta tenetur harum sed, quo cumque reiciendis quis? Asperiores, delectus maxime dolorum qui
            ipsum eius inventore sed? Commodi, asperiores. Et modi vitae possimus expedita vel incidunt, quaerat porro
            totam. Deserunt aperiam aspernatur exercitationem minima nobis dolorum dolore qui accusantium nesciunt
            omnis, enim suscipit velit ex ipsam. Dignissimos debitis, ut nam obcaecati tenetur unde ullam. Modi
            molestiae dolor itaque at sapiente sunt, molestias maiores nostrum soluta voluptatem! Alias blanditiis, sed
            doloremque cum voluptates ut sapiente iusto numquam corporis dolorem aliquam commodi odit in, dignissimos
            voluptatem, officia aut ab sequi! Doloribus obcaecati quis tempore exercitationem hic. In, molestiae, nam
            error reprehenderit vitae rem consequuntur nemo non animi quaerat accusamus et odit asperiores odio dicta
            consequatur necessitatibus nostrum eveniet voluptas voluptatum ex recusandae atque debitis. Non inventore
            in, dolor ad alias assumenda exercitationem eos? Eius eligendi quidem nulla, minus fugit sint laborum
            repellendus explicabo, dolorum ipsam impedit! Sed dignissimos aspernatur unde laudantium pariatur
            necessitatibus excepturi ipsam dolorum soluta veritatis? Quidem natus hic illum cumque et inventore cum?
            Error repudiandae eum ratione illo iste, in quasi praesentium tempora, sint est nesciunt possimus accusamus
            natus atque provident inventore placeat repellat omnis recusandae maiores, optio quo unde cupiditate? Error
            praesentium nihil repellat deserunt fugit fuga doloremque dolorem, placeat porro aliquam ab nulla
            consequatur consequuntur adipisci illum, impedit saepe qui asperiores. Doloribus blanditiis quaerat incidunt
            itaque molestiae a veritatis! Facere minus aperiam alias a earum natus accusantium nesciunt dignissimos!
            Molestias, ipsum! Provident molestias vitae explicabo temporibus aspernatur, blanditiis dolore cum, optio,
            tempora harum nemo laudantium laborum. Quae natus provident libero, pariatur nihil at, voluptas vero cum
            voluptatum labore mollitia ipsum nam nesciunt sunt neque itaque odio commodi repellat unde. Doloremque,
            libero distinctio deserunt quia maiores illo unde. Architecto minus eius repudiandae velit, eligendi
            excepturi distinctio sequi aperiam maxime officiis. Voluptatem, officiis praesentium ipsam dicta aliquid
            dolore. Velit officiis corporis possimus, tenetur rerum atque dolorum itaque a, sunt autem amet nostrum
            error voluptas ut fugiat veniam. Tenetur fugiat et, dolorum deserunt laborum autem commodi consequuntur
            perspiciatis nostrum culpa, accusantium placeat nobis ipsa debitis modi sit quidem enim ratione error
            eveniet aliquam. Enim fugiat quisquam iusto consectetur ad eligendi nobis itaque dicta sapiente placeat
            laboriosam maiores explicabo inventore voluptatum assumenda, quibusdam maxime tenetur libero sint quae
            aperiam! Vero laborum distinctio adipisci, quos error neque pariatur explicabo enim reiciendis illo labore
            alias quam laudantium! Accusamus ex, atque cum iste unde quas corporis, voluptatum optio fuga molestiae a ab
            sint delectus sed amet beatae, deserunt ullam quasi magnam incidunt natus? Harum atque provident error modi
            necessitatibus. Esse, officiis nostrum aliquid ut nam nihil est minima praesentium voluptatum quos. Hic non
            voluptas aperiam eaque repellendus minus, sint autem quis adipisci aliquam cum quaerat, esse quasi libero?
            Soluta, deserunt minus! Aut odit, reiciendis minima error, est tempora, incidunt quae quaerat recusandae
            tempore voluptatibus animi pariatur blanditiis? Doloremque illo commodi nihil quibusdam earum, delectus iure
            esse quos, beatae quis dolorem vel consequatur nulla nisi voluptatem repellendus ipsam, reiciendis
            asperiores necessitatibus assumenda! Magni fugiat voluptatibus ut saepe nesciunt necessitatibus illo enim!
            Sequi minima et amet id porro neque. Magni, quisquam? Natus, maxime laborum? Dicta tempora perferendis totam
            consectetur, quisquam laudantium doloremque ut corrupti similique commodi, iusto animi cupiditate
            voluptatibus! Eveniet ipsa, commodi error corrupti quam ut aperiam? Veritatis tempore magni necessitatibus.
            Tempora consectetur dignissimos corrupti dolor cumque consequuntur nemo illum earum! Modi, ad ullam. Ducimus
            sed doloremque, atque, accusamus unde, ipsum officia accusantium perspiciatis deserunt officiis doloribus
            nisi alias soluta ab quam inventore fugiat id. Maxime accusantium quos, eligendi, temporibus ex optio dolore
            eum pariatur consequuntur autem voluptatibus hic obcaecati voluptatem numquam voluptatum molestias animi
            modi. Laudantium amet ad est labore nam quasi porro. Repellendus labore consequatur quidem. Veritatis ut
            vitae est distinctio eveniet! Quod hic ipsum quae sequi voluptas quibusdam quisquam porro incidunt illo
            expedita dolor molestiae adipisci nobis a repudiandae animi labore, id laboriosam ipsam debitis tempora
            velit? Iste, aspernatur molestias fugit veritatis esse, minus, dolorem nulla nostrum cumque recusandae velit
            optio? Quae, eius nulla dolore repellat officiis modi quam laboriosam aliquam neque provident, fuga
            dignissimos, in ipsum architecto deserunt ipsa voluptates explicabo labore voluptas quas voluptatem delectus
            optio. Ipsa ducimus modi sint dignissimos! Magni exercitationem quod asperiores non unde, consequuntur
            aliquid, eveniet sapiente perspiciatis recusandae quas obcaecati consectetur vero dolore cumque numquam nam
            nobis hic amet optio voluptate similique maxime atque? Error eum exercitationem dicta officia nobis
            consectetur obcaecati cum, explicabo vitae dolorum dolore maxime aspernatur a porro harum animi earum, velit
            veritatis. Accusantium omnis nemo nam. Quaerat tenetur exercitationem quia consequuntur. Corrupti, hic. Nemo
            molestiae consequatur doloribus enim, ab magni cumque repellendus numquam id voluptatibus, a aliquid, odit
            ex eligendi quidem odio. Expedita quam ipsam enim. Dicta cumque nobis quod eius accusamus perferendis
            quisquam error minus! Inventore itaque, iure hic eveniet, enim commodi facere expedita labore dolore iste
            eum laudantium, eaque unde perferendis accusamus impedit ex voluptates tenetur tempore quidem eius obcaecati
            consequatur. Vero, voluptatem reprehenderit? Nisi dolores ipsa accusamus aliquid voluptas deserunt eos
            corporis, officia animi molestias nihil eius. Vel quam odio atque minima ut obcaecati ratione hic sapiente?
            Ratione obcaecati, omnis totam repellat ducimus incidunt laborum vero rerum magni ullam sapiente commodi
            placeat ipsa quisquam nisi quos pariatur accusantium, praesentium sed in. Vitae praesentium quas modi
            temporibus architecto, quae autem id eius dolorum neque cumque vero inventore reprehenderit obcaecati odit
            non eos dolore reiciendis iusto, a labore nam minus aliquam magni? Placeat ipsa aliquid atque perferendis
            ipsam dolores nisi animi, eum provident officiis iusto tempore ipsum porro qui quas facilis laudantium omnis
            magni possimus mollitia velit eveniet alias deserunt. Culpa possimus quasi ab enim iste! Molestiae
            praesentium, cumque ullam sed dolorum a reiciendis libero ipsum maxime natus quis perspiciatis eligendi
            laborum sequi? Cupiditate voluptatum error omnis, ex, obcaecati aliquid tempora repellendus deleniti
            voluptates soluta numquam iusto? Modi eligendi assumenda neque quod, quasi facere dolor sapiente rerum
            dolorem eaque placeat velit porro quas quae quam necessitatibus. Quasi, minima doloribus ullam dolor itaque
            perspiciatis magni fugit dicta deserunt aliquam nulla dignissimos voluptate accusamus quo voluptates? Quis
            aspernatur distinctio saepe ad nihil reiciendis necessitatibus, earum accusantium pariatur, mollitia alias
            hic voluptatem. Laudantium quo vero earum excepturi aliquam ipsa dignissimos similique numquam consectetur
            voluptates cum vel praesentium, maxime vitae quibusdam libero, quos esse, velit ratione laborum. Incidunt
            maiores, iste sequi veniam amet, cumque deserunt nam culpa, laboriosam necessitatibus nulla explicabo
            voluptates ut et? Ipsam aut suscipit exercitationem inventore aliquam, porro beatae, accusamus rerum impedit
            praesentium vitae similique quibusdam. Dolores veritatis alias perferendis quis, recusandae nesciunt tempore
            possimus vitae tenetur totam deleniti reprehenderit necessitatibus maiores reiciendis sit repellat
            voluptates laboriosam obcaecati odio saepe inventore minima itaque expedita? Soluta quaerat sunt incidunt
            cupiditate voluptatum ducimus hic animi dicta magnam tempora? Ad impedit, quo est aliquam facilis porro ex
            illum cumque! Rem earum unde aspernatur nostrum tempore libero veniam voluptas at quisquam eius accusamus
            perspiciatis eum quam, ipsa consequatur accusantium neque! Eum doloribus unde, eos ad repellat aut iste
            harum temporibus similique? Sint ipsam libero animi officiis iure consectetur, eum commodi excepturi quod
            earum amet nulla explicabo ratione aliquam suscipit labore magnam culpa provident nostrum?</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    </main>
</body>

</html>